@import url(hexo-config('@fontface.default'))

@import 'style'

a.navbar-item:hover
    color: rgba(241, 70, 103, 1);

a:hover
    color: rgba(241, 70, 103, 1);

a.gallery-item
    margin-bottom: 1em

    img
        box-shadow: 2px 2px 2px #ccc;
        border: 1px solid #ccc;
        display: block;
        margin: auto;

.menu
    font-size: 0.9rem;

article.article
    .title
        margin-bottom: 1.2em

.content ul
    margin-top: 0.5em !important
